{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}


    <body> 
       
    
      <div class="max-w-lg mx-left"">
            <a href="{% url 'leads:lead' %}">Go back to leads</a>
          <h1 class=" md-5 text-4xl  "> Assign  a lead </h1> 
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="border-5 green-button active">Create</button>
        </form>
    </div>
       

    </body>

  
{% endblock content %}